
<div class="w-full h-[100dvh] flex p-[20px]">
    <p-menu  #menu [model]="items"  class="flex justify-center" styleClass="w-full md:w-30 md:m-w-[200px] flex flex-col menucus">
        <ng-template #start>
            <span class="flex flex-col">
                <span class="inline-flex items-center gap-1 px-2 py-2">
                    <span class="text-md font-semibold">
                        MIKE<span class="text-primary">APP</span>
                    </span>
                </span>
                <div class="my-[-15px] mx-1"><p-divider/></div>
            </span>
        </ng-template>
        <ng-template #submenuheader let-item>
            <span class="text-sm font-bold">{{ item.label }}</span>
        </ng-template>
        <ng-template  #item let-item>
            <a pRipple class="flex items-center p-menu-item-link text-xs" [routerLink]="[item.route]">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>
            </a>
        </ng-template>
        <ng-template #end>
            <div class="px-1"><p-divider/></div>
            <button pRipple class="relative w-full overflow-hidden border-0 bg-transparent flex items-start px-2 pb-4 ">
                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" class="mr-2" shape="circle" />
                <span class="flex flex-col">
                    <span class="text-sm font-bold">{{user && user.name}}</span>
                </span>
            </button>
        </ng-template>
    </p-menu>
    <div pRipple class="bg-[#18181b] w-full ms-[20px] box rounded-md"  style="border: 1px solid rgba(111, 111, 111, 0.3); --p-ripple-background: rgba(156, 39, 176, 0.3)">
        <router-outlet></router-outlet>
    </div>
</div>